* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #7e3e1c;
    padding: 15px 25px;
    display: flex;
    align-items: center;
}

body {
    background-color: #f5f2f2;
}

.cabecalho-link {
    color: #fff;
    text-decoration: none;
}

h1 {
    color: #fff;
    font-size: 24px;
}

footer {
    background-color: #7e3e1c;
    padding: 15px 25px;
    color: #fff;
}

https://uploads.lupa.news/2026/05/pilili-fez-o-L-450x262.png